.flip-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 0 10px #ff5722;
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #2c2c2c;
  transform: rotateY(180deg);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card-back button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #ff5722;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back button:hover {
  background-color: #ff7043;
}

.flip-card-back svg {
  margin-right: 8px;
}
